div{
  background-color:silver;
  font-size:24px;
  color:black;
  font-family:optima;
  font-weight: bold;
}
a{
  color:black;
  text-align: center;
  padding: 16px 20px;
}
h1{
  font-size: 36px;
  font-family:optima;
  font-style:italic;
  text-align:center;
  text-decoration:underline;
  color:black;
  background:#D7D7D8;
}
body{
  text-align:center;
  font-family:optima;
  font-size: 36px;
}
