h1{
 font-size: 36px;
 font-style: italic;
 font-family: optima;
 text-align: center;
 color:#FF69B4;
 background-color:#D3D3D3;
}
a{
  display: block;
  text-align: center;
  font-size: 36px;
  font-style: italic;
}
